In [ ]:
#ex1
from sqlalchemy import create_engine
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

from sqlalchemy import create_engine, MetaData, Table
print(db.table_names())
metadata = MetaData()
staff = Table("staff", metadata , autoload=True, autoload_with=db)
print(repr(staff))
print(staff.columns.keys())

In [ ]:
#ex2
#staff[addres_id] -> addres[city_id] -> city[countyr_id] -> country
#actor[actor_id] -> film_actor[film_id] -> film[language_id] -> language

In [39]:
#ex3

result_set = db.execute("SELECT distinct cat.name from category cat join film_category fcat on (cat.category_id=fcat.category_id) join film f on (f.film_id=fcat.film_id)  join inventory inv on (inv.film_id=f.film_id) join rental ren on (ren.inventory_id=inv.inventory_id)").fetchall()
print(result_set)
print(len(result_set))

[('Horror',), ('Comedy',), ('Drama',), ('Sci-Fi',), ('Foreign',), ('Classics',), ('Games',), ('Travel',), ('New',), ('Music',), ('Action',), ('Documentary',), ('Sports',), ('Animation',), ('Children',), ('Family',)]
16

In [38]:
#ex4
result_set = db.execute("SELECT distinct cat.name from category cat join film_category fcat on (cat.category_id=fcat.category_id) join film f on (f.film_id=fcat.film_id) join inventory inv on (inv.film_id=f.film_id) join rental ren on (ren.inventory_id=inv.inventory_id)").fetchmany(size=2)
print(result_set)

[('Horror',), ('Comedy',)]

In [31]:
#ex5
stmt = 'SELECT f.title, min(f.release_year) as min from film f join inventory inv on (f.film_id=inv.film_id) join rental ren on (inv.inventory_id=ren.inventory_id) group by f.title'
result = db.execute(stmt).fetchmany(size=1)
print(result)

stmt = 'SELECT f.title, max(f.release_year) as min from film f join inventory inv on (f.film_id=inv.film_id) join rental ren on (inv.inventory_id=ren.inventory_id) group by f.title'
result = db.execute(stmt).fetchmany(size=1)
print(result)
#all films fromm 06, there is no way to sort them

[('Frontier Cabin', 2006)]
[('Frontier Cabin', 2006)]

In [36]:
#ex6
from sqlalchemy import select
from sqlalchemy import or_
actor = Table("actor", metadata , autoload=True, autoload_with=db)
stmt = select([actor]).where(or_(actor.c.first_name == 'Olympia', actor.c.first_name == 'Julia', actor.c.first_name == 'Ellen'))
result = db.execute(stmt).fetchall()
print(result)
#check correcion of the query 
print(stmt)

[(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000)), (199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))]
SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name = :first_name_1 OR actor.first_name = :first_name_2 OR actor.first_name = :first_name_3